.modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .msgBox {
        width: 350px;
        height: 150px;
        background-color: #444654;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        color: #FFFFFF !important;
        font-size: 20px;

        .btn {
            background-color: transparent;
            border: 1px solid #707070;
            padding: 0px 30px;
        }
    }
}